registry=https://registry.npmjs.org
@rvoh:registry=https://registry.npmjs.org
//registry.npmjs.org/:always-auth=true

minimumReleaseAge=1440 # All packages must be at least 24 hours old
minimumReleaseAgeExclude[] = @rvoh/dream
minimumReleaseAgeExclude[] = @rvoh/dream-spec-helpers

# the following packages are not dependencies, but uncertainty
# about the behavior in tests vs actual installation led us
# to add these exclusions to guarantee that our spec runs
# always pick up the latest versions of these packages as well
minimumReleaseAgeExclude[] = @rvoh/psychic
minimumReleaseAgeExclude[] = @rvoh/psychic-spec-helpers
minimumReleaseAgeExclude[] = @rvoh/psychic-workers
minimumReleaseAgeExclude[] = @rvoh/psychic-websockets

